@charset "utf-8";



html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(leuchten.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

