@charset "utf-8";
/* CSS Document */

body {background-color:tranaparent;
	color:#000000;
	font-family:Verdana, Geneva, sans-serif;
	margin:0px;}

body a {color:#0066ff;}

header {background-color:#64e379;
	color: #ffffff;
	font-size: xx-large;
	font-style:italic;
	font-weight:bolder;
	padding: 10px;
	text-align:center;}

#hilfscontainer {margin:0px auto;
	 max-width:1024px;}

aside {float:left;
	text-align:center;
	width:25%;}

nav {margin:10px;
	padding-bottom:20px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	text-align:center;}

main {background-color:#ffffff;
	color: #000000;
	float:left;
	width:75%;}

main h1 {font-size: x-large;
 	margin-bottom: 10px;
	margin-top: 0px;}

article {border: 1px solid grey;
	border-radius:10px;
	margin:20px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;}

footer {background-color:#64e379;
	clear:left;
	color:#ffffff;
	font-size:large;
	font-style:italic;
	font-weight:bolder;
	padding-bottom:10px;
	padding-top:10px;
	text-align:center;
	width: 100%;}

img {max-width:100%; height:auto; }

ul {margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
	font-size:large;
}

ul li a {text-decoration:none;
    color:#ffffff;
    padding:10.5px 11px;
	margin-bottom:10px;
    background-color:#48a262;
    display:block;
	border-radius:10px;
}

ul li a:visited {color:#ffffff;}

ul li a:hover, ul li .current {color:black;
    background-color:yellow;}
